<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
    <title>Job Results</title>
<body>

    <header>
        <h1>Your Taste of Remote Jobs</h1>
        <h3>{{resultNumber}} {{searchingBy}} jobs found.</h3>
        <div class="csv">
            <h4>
                <a href="/export?word={{searchingBy}}">Export to CSV</a>
                <i class="fas fa-file-csv"></i>
            </h4>
        </div>
        <h4>
            <i class="far fa-arrow-alt-circle-left"></i>
            <span><a href="/">Go Back to Search</a></span>
        </h4>
    </header>

    <main>
        {% for job in jobs%}
            <div>
                    <h2>{{job.title}}</h2>
                    <h3>{{job.company}}</h3>
                    <h3><a href="{{job.link}}" target="_blank">Apply</a></h3>
                <hr />
            </div>
        {% endfor %}
    </main>
    
    <script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>
    
</body>
</html>